<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
	
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
	
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.1.xsd
	
	http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring
    http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.2.xsd
	"
	default-autowire="byName">

	<!-- 使用上下文注解扫描配置 -->
	<context:annotation-config></context:annotation-config>
	<!-- 扫描组件包 -->
	<context:component-scan base-package="com.biz"></context:component-scan>
	<context:component-scan base-package="com.dao"></context:component-scan>
	<context:component-scan base-package="com.service"></context:component-scan>
	<context:component-scan base-package="com.action"></context:component-scan>
	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="com.mysql.jdbc.Driver"> </property> 
		<property name="url" value="jdbc:mysql://localhost:3306/wenlibackyard"> </property> 
		<property name="username" value="root"></property> <property name="password" 
		value="zxx7235585"></property> </bean> -->
	<!-- 使用c3p0数据库连接池配置，请在tomcat/context.xml 中添加 <Resource acquireIncrement="10" 
		auth="Container" driverClass="com.mysql.jdbc.Driver" factory="org.apache.naming.factory.BeanFactory" 
		jdbcUrl="jdbc:mysql://localhost:3306/wenlibackyard?autoReconnect=false&amp;useUnicode=true&amp;characterEncoding=utf8" 
		maxIdleTime="25000" maxPoolSize="300" minPoolSize="5" name="jdbc/ZeralDS" 
		password="shiyue" type="com.mchange.v2.c3p0.ComboPooledDataSource" user="root"/> -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/jdbc/ZeralDS</value>
		</property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">
					true
				</prop>
				<prop key="hibernate.format_sql">
					true
				</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.po.Favorite</value>
				<value>com.po.SchoolInfo</value>
				<value>com.po.ProductInfo</value>
				<value>com.po.OrderMain</value>
				<value>com.po.UserDetailInfo</value>
				<value>com.po.ProductType</value>
				<value>com.po.UserInfo</value>
				<value>com.po.OrderDetail</value>
				<value>com.po.BasicConfig</value>
				<value>com.po.FileInfo</value>
				<value>com.po.Regions</value>
			</list>
		</property>
	</bean>


	<!-- 注入事物管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 采用aop切面方式geibiz层注入事物 -->
<!-- 	 注入注解支持的事物管理器 
	<tx:annotation-driven transaction-manager="transactionManager" />
 -->
 	
	<!-- 注入事务的传播属性，指定哪些方法需要使用事务 -->
	<tx:advice id="txavd" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="del*" propagation="REQUIRED"/>
			<tx:method name="find*" propagation="NOT_SUPPORTED"/>
			<tx:method name="*" propagation="REQUIRED" rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>
	
	<!-- 注入事务的切入点，指定哪些包和子包中的类需要使用事务 -->
	<aop:config>
		<aop:pointcut expression="execution(* com.biz.*.* (..)) or execution(* com.service.*.*(..))" id="bizpoint"/>
		<aop:advisor advice-ref="txavd" pointcut-ref="bizpoint"/>
	</aop:config>
	
	<!-- ehcache缓存 -->
	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml" />
	</bean>
	<ehcache:config cache-manager="cacheManager">
		<ehcache:evict-expired-elements
			interval="60" />
	</ehcache:config>
	<ehcache:annotation-driven />

</beans>